# CONFIG_MD is not set
# CONFIG_ETHERNET is not set
CONFIG_PHYLINK=m
# CONFIG_CAN_DEV is not set
# CONFIG_MEDIA_CEC_SUPPORT is not set
# CONFIG_AUXDISPLAY is not set
# CONFIG_DRM is not set
# CONFIG_LOGO is not set
# CONFIG_SOUND is not set
